<article class="view-type view-type-{{ view_type }} article vl1">
    <h1>{{ ez_content_name( content ) }}</h1>
    <div>

        <b>{{ ez_render_field(content, 'intro') }}</b>
    </div>
    <div>
        {{ ez_render_field(content, 'body') }}
    </div>
</article>